<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="吴振吉blog" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <title>吴振吉blog</title>
  <!-- <link rel="icon" href="/favicon.ico" type="image/x-icon" /> -->
</head>
<style>
  html,
  body,
  #root {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  p,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  ul,
  li {
    margin: 0;
    padding: 0;
  }

  ul,
  li {
    list-style: none;
    outline: none;
  }

  div,
  ul,
  li,
  p,
  span {
    box-sizing: border-box;
  }
</style>

<body>
  <div id="root">
  </div>
</body>

</html>